<div class="bg-gray-100">
  <div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Game ID</h3>
        </div>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <%= form_for [:admin, game_id], class: "w-full max-w-lg" do |f| %>
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-5 space-y-6 bg-white sm:p-6">
              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>

                  <div class="flex mt-1 rounded-md shadow-sm">
                    <%= f.text_field :name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", placeholder: "Username" %>
                  </div>
                </div>
              </div>
              <div class="col-span-6 sm:col-span-4">
                <%= f.label :ign, class: "block text-sm font-medium text-gray-700" %>

                <%= f.text_field :ign, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", placeholder: "IGN" %>
              </div>
              <div class="col-span-6 sm:col-span-4">
                <%= f.label :game_id, class: "block text-sm font-medium text-gray-700" %>

                <%= f.text_field :game_id, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", placeholder: "Game ID" %>
              </div>
              <div class="col-span-6 sm:col-span-4">
                <%= f.label :icon_name, class: "block text-sm font-medium text-gray-700" %>

                <%= f.text_field :icon_name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", placeholder: "Icon Name" %>
              </div>
              <div class="col-span-6 sm:col-span-4">
                <%= f.label :icon_filename, class: "block text-sm font-medium text-gray-700" %>

                <%= f.text_field :icon_filename, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", placeholder: "Icon Filename" %>
              </div>
              <div class="col-span-6 sm:col-span-4">
                <%= f.label :icon_url, class: "block text-sm font-medium text-gray-700" %>

                <%= f.text_field :icon_url, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", placeholder: "Icon URL" %>
              </div>
            </div>
            <div class="px-4 py-3 text-right bg-gray-50 sm:px-6">
              <button type="submit" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Save
              </button>

              <a type="button" href="<%= admin_game_ids_path %>" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                Back
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
