<h3 class="text-3xl font-medium text-gray-700">Game IDs</h3>

<div class="mt-8">
  <div class="mt-6">
    <div class="sm:flex-row flex flex-col mt-3">
      <div class="flex">
        <div class="relative">
          <select class="focus:outline-none focus:bg-white focus:border-gray-500 block w-full h-full px-4 py-2 pr-8 leading-tight text-gray-700 bg-white border border-gray-400 rounded-l appearance-none">
            <option>5</option>
            <option>10</option>
            <option>20</option>
          </select>

          <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
            <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
              </svg>
          </div>
        </div>

        <div class="relative">
          <select class="sm:rounded-r-none sm:border-r-0 focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500 block w-full h-full px-4 py-2 pr-8 leading-tight text-gray-700 bg-white border-t border-b border-r border-gray-400 rounded-r appearance-none">
            <option>All</option>
            <option>Active</option>
            <option>Inactive</option>
          </select>

          <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
            <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </div>
        </div>
      </div>

      <div class="sm:mt-0 relative block mt-2">
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">
          <svg viewBox="0 0 24 24" class="w-4 h-4 text-gray-500 fill-current">
              <path d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z"></path>
          </svg>
        </span>

        <input placeholder="Search" class="sm:rounded-l-none focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none block w-full py-2 pl-8 pr-6 text-sm text-gray-700 placeholder-gray-400 bg-white border border-b border-gray-400 rounded-l rounded-r appearance-none" />
      </div>
    </div>

    <div class="flex flex-col mt-6">
        <div class="sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8 py-2 -my-2 overflow-x-auto">
            <div class="sm:rounded-lg inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow">
                <table class="min-w-full">
                    <caption>Users</caption>
                    <thead>
                        <tr>
                            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-100 border-b border-gray-200">Name</th>
                            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-100 border-b border-gray-200">IGN</th>
                            <th class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase bg-gray-100 border-b border-gray-200">Status</th>
                            <th class="px-6 py-3 bg-gray-100 border-b border-gray-200"></th>
                        </tr>
                    </thead>

                    <tbody class="bg-white">
                      <% @game_ids.each do |game_id| %>
                        <tr>
                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                              <div class="text-sm font-medium leading-5 text-gray-900">
                                <%= game_id.name %>
                              </div>
                            </td>

                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <div class="text-sm leading-5 text-gray-900">
                                  <%= game_id.ign %>
                                </div>
                            </td>

                            <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                <span class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                                  <%= game_id.status %>
                                </span>
                            </td>

                            <td class="px-6 py-4 text-sm font-medium leading-5 text-right whitespace-no-wrap border-b border-gray-200">
                              <div class="inline-flex space-x-4">
                                <%= link_to "Edit", edit_admin_game_id_path(game_id), class: "flex-1 px-6 py-3 bg-purple-600 rounded-md text-white font-medium tracking-wide hover:bg-purple-500 ml-3" %>
                                <%= link_to "Destroy", admin_game_id_path(game_id), class: "flex-1 px-6 py-3 bg-red-600 rounded-md text-white font-medium tracking-wide hover:bg-red-500 ml-3", data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %>
                              </div>
                            </td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>

                <div class="xs:flex-row xs:justify-between flex flex-col items-center px-5 py-5 bg-white border-t">
                  <span class="xs:text-sm text-xs text-gray-900">Showing 1 to 4 of 50 Entries</span>

                  <div class="xs:mt-0 inline-flex mt-2">
                    <button class="hover:bg-gray-400 px-4 py-2 text-sm font-semibold text-gray-800 bg-gray-300 rounded-l">Prev</button>
                    <button class="hover:bg-gray-400 px-4 py-2 text-sm font-semibold text-gray-800 bg-gray-300 rounded-r">Next</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
