<div class="main-container" xmlns="http://www.w3.org/1999/xhtml">
  <div class="album-container">
    <div class="album-cover">
      <% if @recent['loved'] == "1" %>
        <%= image_tag asset_data_uri("heart.png"), width: 27, height: 27, class: "album-love" %>
      <% end %>
    </div>
  </div>

  <div class="track-container">
    <h2 class="track-name mb-0">
      <%= @recent['name'] %>
    </h2>
    <h3 class="artist-name">
      <%= "#{@recent['artist']['name'].upcase}" %>
    </h3>
    <% if @recent['album']['content'].present? %>
      <h4 class="album-name">
        <%= "#{@recent['album']['content']}" %>
      </h4>
    <% end %>
    <div class="status-container">
      <% if @recent['nowplaying'] %>
        <div id="equalizer">
          <div class="eq-bar-1"></div>
          <div class="eq-bar-2"></div>
          <div class="eq-bar-3"></div>
          <div class="eq-bar-4"></div>
        </div>
        <% if controller.request.format.to_s.exclude?("png") %>
          <% if request.format == :html %>
            <h5 class="status" id="elapsed-time"><%= @elapsed_time %></h5>
          <% end %>
          <h4 class="status active">♫ Playing now</h4>
        <% else %>
          <h4 class="status active">♫ Playing now...</h4>
        <% end %>
      <% else %>
        <em>
          <h4 class="status" style="margin-left: 10px">
            last played
            <% if time_ago_in_words(Time.zone.at(@recent['date']['uts'].to_i)) == 'less than a minute' %>
              just now
            <% else %>
              <%= (time_ago_in_words(Time.zone.at(@recent['date']['uts'].to_i)) +' ago').sub('about', '') %>
            <% end %>
          </h4>
        </em>
      <% end %>
    </div>
  </div>
</div>
