<turbo-stream target="anilist" action="update">
  <template>
    <% if @success %>
      <div class="bg-primary flex flex-col w-full font-sans">
        <div class="h-full">
          <div class="px-4 py-4">
            <div class="sm:container sm:mx-auto relative w-full text-center">
              <div class="max-w-sm mx-auto mb-6 font-sans text-3xl font-semibold text-center text-white">
                <span class="opacity-80">Take me</span>
                <%= link_to "Back", anilist_index_path, class: "hover:text-cyan-400 border-b", target: "anilist" %>
              </div>
              <div class="bg-secondary max-w-sm mx-auto border-b-4 border-blue-400 rounded-md">
                <h1 class="text-2xl font-bold text-white">
                  Not Following You
                </h1>
                <ul class="list-none">
                  <% (@following - @followers).each do |f| %>
                    <li class="text-blue-400">
                      <%= link_to f, "https://anilist.co/user/#{f}", target: "_blank", rel: "noreferrer noopener" %>
                    </li>
                  <% end %>
                </ul>
              </div>

              <div class="bg-secondary max-w-sm mx-auto mt-5 border-b-4 border-blue-400 rounded-md">
                <h1 class="text-2xl font-bold text-white">
                  You're Not Following
                </h1>
                <ul class="list-none">
                  <% (@followers - @following).each do |f| %>
                    <li class="text-blue-400">
                      <%= link_to f, "https://anilist.co/user/#{f}", target: "_blank", rel: "noreferrer noopener" %>
                    </li>
                  <% end %>
                </ul>
              </div>

              <div class="bg-secondary max-w-sm mx-auto mt-5 border-b-4 border-blue-400 rounded-md">
                <h1 class="text-2xl font-bold text-white">
                  <%= "Following (#{@following_count})" %>
                </h1>
                <ul class="list-none">
                  <% @following.each do |f| %>
                    <li class="text-blue-400">
                      <%= link_to f, "https://anilist.co/user/#{f}", target: "_blank", rel: "noreferrer noopener" %>
                    </li>
                  <% end %>
                </ul>
              </div>

              <div class="bg-secondary max-w-sm mx-auto mt-5 border-b-4 border-blue-400 rounded-md">
                <h1 class="text-2xl font-bold text-white">
                  <%= "Followers (#{@followers_count})" %>
                </h1>
                <ul class="list-none">
                  <% @followers.each do |f| %>
                    <li class="text-blue-400">
                      <%= link_to f, "https://anilist.co/user/#{f}", target: "_blank", rel: "noreferrer noopener" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= render partial: "anilist/new", formats: [:html] %>
    <% end %>
  </template>
</turbo-stream>
