<div class="login background-cyan-1 h-screen font-sans bg-cover">
  <div class="sm:px-6 lg:px-8 flex items-center justify-center min-h-screen px-4 py-12 bg-gray-700 bg-opacity-50">
    <div class="w-full max-w-md space-y-8">
      <div class="w-full bg-black bg-opacity-50 divide-y divide-gray-200 rounded-lg shadow">
        <div class="px-10 py-10">
          <div>
            <img class="w-auto h-12 mx-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
            <h2 class="mt-6 text-3xl font-extrabold text-center text-white">
              Sign in to your account
            </h2>
          </div>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6" }) do |f| %>
            <%= f.hidden_field :remember_me, value: true %>
            <div class="rounded-md shadow-sm">
              <div>
                <%= f.label :username, class: "sr-only" %>
                <%= f.text_field :username, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", required: true, placeholder: "Username" %>
              </div>
              <div>
                <%= f.label :password, class: "sr-only" %>
                <%= f.password_field :password, autocomplete: "current-password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", required: true, placeholder: "Password" %>
              </div>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <%= f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
                <%= f.label :remember_me, class: "ml-2 block text-sm text-white" %>
              </div>

              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <div class="text-sm">
                  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "font-medium text-white hover:text-red-500" %>
                </div>
              <% end %>
            </div>

            <div>
              <button type="submit" class="group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <iconify-icon icon="heroicons-solid:lock-closed" width="25"></iconify-icon>
                </span>
                Sign in
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
