<section x-data="{swiper: null}">
  <div class="relative flex w-screen min-h-screen">
    <div id="profile-carousel" class="absolute top-0 left-0 w-full h-full swiper" x-init="swiper = new Swiper('#profile-carousel', { modules: [Navigation, Autoplay, EffectFade], effect: 'fade', loop: true, speed: 1000, threshold: 40, autoplay: { delay: 5000, disableOnInteraction: false }, fadeEffect: { crossFade: true }, }); swiper.translateTo(window.screen.width * -1, 0, false, false);">
      <div class="swiper-wrapper">
        <% bgs.each do |num| %>
          <div class="swiper-slide background-cyan-<%= num %>">
            <img src="<%= vite_asset_path "images/cyan-bg-#{num}.webp" %>" alt="carousel-item" class="hidden visually-hidden"/>
          </div>
        <% end %>
      </div>
    </div>
    <div class=" relative flex flex-col w-full z-10 bg-gradient-to-t from-[#453c64]/90 to-cyan-400/50 py-10 pointer-events-none ">
      <div class="grid grid-cols-8 my-auto">
        <div></div>
        <div class="flex flex-col col-span-6 tablet:items-center portrait:text-center laptop:items-start">
          <div class="pb-3">
            <video
              autoplay
              loop
              muted
              inline
              playsinline
              defaultMuted oncontextmenu="return false;" preload="auto" class="rounded-full outline outline-white outline-5 w-52 portrait:mx-auto" poster="<%= vite_asset_url "images/cyan-avatar-2.webp" %>">
              <source src="<%= vite_asset_url "images/cyan-avatar-2.webm" %>" type="video/webm">
              Your browser does not support the
              <video></video>tag
            </video>
          </div>
          <div class="flex flex-col">
            <h1 class="mb-2 font-medium text-white phone:text-4xl tablet:text-5xl laptop:text-6xl">Cyan★Nyan♪</h1>
            <h1 class=" dark:bg-black/80 dark:text-[#fffdfa] text-slate-700 bg-white/80 px-2 text-2xl text-center ">
              ／<strong>aldwin7894</strong>／
            </h1>
          </div>
          <div id="social-links" class="flex flex-row flex-wrap justify-around gap-4 pt-10 pointer-events-auto phone:px-2 tablet:justify-center laptop:justify-start desktop:pt-20">
            <a href="https://anilist.co/user/CyanNyan/" rel="noopener noreferrer" target="_blank" class="text-white hover:text-[#02a9ff] h-fit" aria-label="AniList" data-tippy="tooltip" data-tippy-content="AniList">
              <iconify-icon icon="simple-icons:anilist" width="50"></iconify-icon>
            </a>
            <a href="https://myanimelist.net/profile/CyanNyann" rel="noopener noreferrer" target="_blank" class="text-white h-fit" aria-label="MyAnimeList" data-tippy="tooltip" data-tippy-content="MyAnimeList">
              <iconify-icon icon="simple-icons:myanimelist" width="50" class="hover:bg-[#2f52a2] px-2 rounded-md"></iconify-icon>
            </a>
            <a href="https://open.spotify.com/user/dragontristana" rel="noopener noreferrer" target="_blank" class="text-white hover:text-[#1ed760] h-fit" aria-label="Spotify" data-tippy="tooltip" data-tippy-content="Spotify">
              <iconify-icon icon="akar-icons:spotify-fill" width="50"></iconify-icon>
            </a>
            <a href="https://www.last.fm/user/CyanNyan" rel="noopener noreferrer" target="_blank" class="text-white hover:text-[#ba0000] h-fit" aria-label="last.fm" data-tippy="tooltip" data-tippy-content="last.fm">
              <iconify-icon icon="brandico:lastfm-rect" width="50" class="hover:bg-white rounded-[10px]"></iconify-icon>
            </a>
            <a href="https://musicbrainz.org/user/CyanNyan" rel="noopener noreferrer" target="_blank" class="text-white hover:text-[#eb743b] h-fit" aria-label="MusicBrainz" data-tippy="tooltip" data-tippy-content="MusicBrainz">
              <iconify-icon icon="simple-icons:musicbrainz" width="50"></iconify-icon>
            </a>
            <a href="https://simkl.com/5527713/" rel="noopener noreferrer" target="_blank" class="text-white hover:text-black h-fit" aria-label="Simkl" data-tippy="tooltip" data-tippy-content="Simkl">
              <iconify-icon icon="simple-icons:simkl" width="50" class="hover:bg-white rounded-[10px]"></iconify-icon>
            </a>
            <a href="https://trakt.tv/users/cyannyan" rel="noopener noreferrer" target="_blank" class="hover:text-[#ed1c24] h-fit text-white" aria-label="Trakt" data-tippy="tooltip" data-tippy-content="Trakt">
              <iconify-icon icon="simple-icons:trakt" width="50"></iconify-icon>
            </a>
            <a href="https://www.youtube.com/aldwin7894" rel="noopener noreferrer" target="_blank" class="text-white hover:text-[#ff0000] h-fit" data-tippy="tooltip" data-tippy-content="YouTube" aria-label="YouTube">
              <iconify-icon icon="simple-icons:youtube" width="50"></iconify-icon>
            </a>
            <a href="https://www.twitch.tv/cyannyann" rel="noopener noreferrer" target="_blank" class="text-white hover:text-[#a970ff] h-fit" aria-label="Twitch" data-tippy="tooltip" data-tippy-content="Twitch">
              <iconify-icon icon="simple-icons:twitch" width="50"></iconify-icon>
            </a>
            <a href="https://steamcommunity.com/id/aldwin7894/" rel="noopener noreferrer" target="_blank" class="text-white hover:text-[#075a8e] h-fit" aria-label="Steam" data-tippy="tooltip" data-tippy-content="Steam">
              <iconify-icon icon="simple-icons:steam" width="50" class="hover:bg-white hover:outline-[#075a8e] outline-2 outline outline-offset-[-1px] rounded-full"></iconify-icon>
            </a>
            <a href="https://osu.ppy.sh/users/10038123" rel="noopener noreferrer" target="_blank" class="text-white h-fit" aria-label="Osu!" data-tippy="tooltip" data-tippy-content="Osu!">
              <iconify-icon icon="simple-icons:osu" width="50" class="hover:bg-[#f170aa] rounded-full"></iconify-icon>
            </a>
            <a href="https://github.com/aldwin7894" rel="noopener noreferrer" target="_blank" class="hover:text-[#171a1e] text-white h-fit" aria-label="GitHub" data-tippy="tooltip" data-tippy-content="GitHub">
              <iconify-icon icon="simple-icons:github" width="50" class="hover:bg-white hover:outline-[#171a1e] outline-2 outline outline-offset-[-1px] rounded-full"></iconify-icon>
            </a>
          </div>
          <div class="flex flex-row flex-wrap justify-around col-span-12 gap-4 pt-10 pointer-events-auto phone:px-2 tablet:justify-center laptop:justify-start">
            <% @game_ids&.each do |game_id| %>
              <button aria-label="<%= game_id.name %>" type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" class="rounded-md h-fit shine-effect" data-tippy="popover" data-tippy-template="popover<%= game_id.id %>">
                <%= image_tag vite_asset_path("images/icons/#{game_id.icon_filename}"), width: 50, height: 50, alt: game_id.name %>
                <div class="shine"></div>
              </button>

              <div id="popover<%= game_id.id %>" role="tooltip" class="hidden">
                <div class="max-w-[226px] dark:bg-[#0b1622] dark:text-white">
                  <h3 class=" tippy-popover-header border-b-black dark:border-b-white border-b-[1px] "><%= game_id.name %></h3>
                  <h3 class="text-left tippy-popover-body"><%= "ID: #{game_id.game_id}\nIGN: #{game_id.ign}" %></h3>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</section>
<%= render "partials/divider" %>
