<% color = activity&.[]("media")&.[]("coverImage")&.[]("color") %>
<% color = (color.presence || "#00FFFF") %>
<% text_color = Kodachroma.paint(color).dark? ? "text-white" : "text-black" %>

<div class="flex flex-col select-none">
  <div class="hidden visually-hidden">
    <img src="<%= activity["media"]["coverImage"]["extraLarge"] %>" alt="cover-image">
  </div>

  <a href="<%= activity["media"]["siteUrl"] %>" rel="noopener noreferrer" target="_blank" class="mx-auto h-[350px] w-full max-w-[240px] bg-center bg-cover relative" style="background-image: url(<%= activity["media"]["coverImage"]["extraLarge"] %>)">
    <div class="w-full h-full hover:opacity-[.18] absolute top-0 bottom-0 right-0 left-0 bg-black opacity-0 transition-opacity ease-linear"></div>
    <div class="absolute bottom-0 left-0 flex flex-col w-full gap-2 px-2 py-2 text-left dark:text-white dark:bg-black/80 bg-white/80">
      <div class="flex flex-row gap-x-4">
        <h3 class="flex flex-1 line-clamp-2">
          <%= activity["media"]["studios"]["nodes"].select { |x| x["isAnimationStudio"] == true }.first(2).pluck("name").join(", ") %>
        </h3>
        <h3 class="flex items-center gap-1 flex-0">
          <%= activity["media"]["mediaListEntry"]["score"] %>
          <iconify-icon icon="material-symbols:star" class="text-[#d0011b] dark:text-[gold]"></iconify-icon>
        </h3>
      </div>

      <h3 class="flex flex-row flex-wrap gap-1">
        <% if activity["media"]["genres"].blank? %>
          &nbsp;
        <% end %>
        <% activity["media"]["genres"].first(3).each do |genre| %>
          <span class="align-center w-max flex px-3 py-1 text-xs font-semibold rounded-full <%= text_color %>" style="background-color: <%= color %>">
            <%= genre.downcase %>
          </span>
        <% end %>
      </h3>
    </div>
  </a>
  <a href="<%= activity["siteUrl"] %>" rel="noopener noreferrer" target="_blank" class="text-red-500 text-md hover:underline">
    <h3><%= anilist_progress_text(activity) %></h3>
  </a>
  <a href="<%= activity["media"]["siteUrl"] %>" rel="noopener noreferrer" target="_blank" class="text-lg font-bold dark:text-white line-clamp-1 hover:underline" data-tippy="tooltip" data-tippy-content="<%= activity["media"]["title"]["userPreferred"] %>">
    <h3><%= activity["media"]["title"]["userPreferred"] %></h3>
  </a>
  <a href="<%= activity["siteUrl"] %>" rel="noopener noreferrer" target="_blank" class="dark:text-[#bfb3a4] text-slate-600 text-sm hover:underline">
    <h3><%= Time.zone.at(activity["createdAt"].to_i).strftime("%B %e, %Y %r") %></h3>
  </a>
</div>
