<% color = Kodachroma.paint(activity["media"]["coverImage"]["color"]).dark? ? "text-white" : "text-black" %>

<div class="flex flex-col">
  <button x-on:click="window.open('<%= activity["media"]["siteUrl"] %>')" class="mx-auto h-[350px] w-full bg-center bg-cover drop-shadow-lg" style="background-image: url(<%= image_url_to_base64 activity["media"]["coverImage"]["extraLarge"] %>)">
    <div class="w-full h-full hover:opacity-[.08] absolute top-0 bottom-0 right-0 left-0 bg-black opacity-0 transition-opacity ease-linear"></div>
    <div class="dark:text-white dark:bg-black/80 bg-white/80 drop-shadow-lg absolute bottom-0 left-0 flex flex-col w-full gap-2 px-2 py-2 text-left">
      <div class="gap-x-4 flex flex-row">
        <div class="line-clamp-2 flex flex-1">
          <%= activity["media"]["studios"]["nodes"].select { |x| x["isAnimationStudio"] == true }.first(2).pluck("name").join(", ") %>
        </div>
        <div class="flex-0 flex items-center gap-1">
          <%= activity["media"]["mediaListEntry"]["score"] %>
          <iconify-icon icon="material-symbols:star" class="text-[#d0011b] dark:text-[gold]"></iconify-icon>
        </div>
      </div>
      <% if !activity["media"]["genres"].blank? %>
        <div class="flex flex-row flex-wrap gap-1">
          <% activity["media"]["genres"].first(3).each do |genre| %>
            <span
              class="align-center w-max flex px-3 py-1 text-xs font-semibold rounded-full <%= color %>" style="background-color: <%= activity["media"]["coverImage"]["color"] %>">
              <%= genre.downcase %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </button>
  <button x-on:click="window.open('<%= activity["siteUrl"] %>')" class="text-md hover:underline text-red-500">
    <%= activity["status"].titleize %> <%= activity["progress"] %>
  </button>
  <div class="dark:text-white line-clamp-1 text-lg font-bold break-all" data-bs-toggle="tooltip" title="<%= activity["media"]["title"]["userPreferred"] %>">
    <%= activity["media"]["title"]["userPreferred"] %>
  </div>
  <div class="dark:text-[#bfb3a4] text-slate-600 text-sm">
    <%= Time.zone.at(activity["createdAt"].to_i).strftime("%B %e, %Y %r") %>
  </div>
</div>
