<div class="flex flex-col">
  <button x-on:click="window.open('<%= activity["media"]["siteUrl"] %>')" class="mx-auto h-[324px] w-[230px] bg-auto bg-center bg-no-repeat bg-slate-400 drop-shadow-lg">
    <img src="<%= image_url_to_base64 activity["media"]["coverImage"]["large"] %>" class="grayscale-[50%] hover:grayscale-0 drop-shadow-lg w-full h-full" alt="<%= activity["media"]["title"]["userPreferred"] %>">
    <div class="dark:text-white dark:bg-black/80 bg-white/80 drop-shadow-lg absolute bottom-0 left-0 flex flex-col w-full gap-2 px-2 py-2 text-left">
      <div><%= activity["media"]["studios"]["nodes"].select { |x| x["isAnimationStudio"] == true }.first(2).pluck("name").join(", ") %></div>
      <% if !activity["media"]["genres"].blank? %>
        <div class="flex flex-row flex-wrap gap-1">
          <% activity["media"]["genres"].first(3).each do |genre| %>
            <span
              class="align-center w-max active:bg-cyan-500 ease bg-cyan-600 flex px-4 py-1 text-xs font-semibold text-white transition duration-300 rounded-full cursor-pointer">
              <%= genre %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </button>
  <button x-on:click="window.open('<%= activity["siteUrl"] %>')" class="text-md hover:underline text-red-500">
    <%= activity["status"].titleize %> <%= activity["progress"] %>
  </button>
  <div class="dark:text-white line-clamp-1 text-lg font-bold break-all" data-bs-toggle="tooltip" title="<%= activity["media"]["title"]["userPreferred"] %>">
    <%= activity["media"]["title"]["userPreferred"] %>
  </div>
  <div class="dark:text-[#bfb3a4] text-slate-600 text-sm">
    <%= Time.zone.at(activity["createdAt"].to_i).strftime("%B %e, %Y %r") %>
  </div>
</div>
