<turbo-frame id="favorite_anime_genres">
  <div class="flex flex-col w-full h-full px-4 py-4 text-white">
    <button x-on:click="window.open('https://anilist.co/user/CyanNyan/stats/anime/genres')" class="hover:underline text-lg font-bold text-left text-white">FAVORITE ANIME GENRES</button>
    <div class="flex flex-row">
      <div class="grow flex flex-col">
        <div>
          <ul>
            <% @genre_list.each do |genre| %>
              <li class="flex flex-row gap-2 mt-2">
                <div class="min-w-[20px] min-h-[20px] my-auto" style="background: <%= genre[:backgroundColor] %>"></div>
                <div><%= genre[:label] %></div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="mx-auto xs:max-w-[200px] max-w-[300px]">
        <canvas id="favoriteGenres" aria-label="Favorite Anime Genres" role="img">
        Your browser does not support the canvas element.
        </canvas>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('turbo:frame-load', (event) => {
      if (event.target.id === "favorite_anime_genres") {
        const genre = document.getElementById('favoriteGenres').getContext('2d');
        const genreChart = new Chart(genre, {
          type: 'pie',
          options: {
            responsive: true,
            layout: {
              padding: 20
            },
            plugins: {
              legend: {
                display: false,
              }
            },
            elements: {
              arc: {
                borderWidth: 0
              }
            }
          },
          data: JSON.parse(`<%= raw @genre_chart_data %>`),
          plugins: []
        });
      }
    });
  </script>
</turbo-frame>

<turbo-frame id="favorite_anime_studios">
  <div class="flex flex-col w-full h-full px-4 py-4 text-white">
    <button x-on:click="window.open('https://anilist.co/user/CyanNyan/stats/anime/studios')" class="hover:underline text-lg font-bold text-left text-white">FAVORITE ANIME STUDIOS</button>
    <div class="flex flex-row">
      <div class="grow flex flex-col">
        <div>
          <ul>
            <% @studio_list.each do |studio| %>
              <li class="flex flex-row gap-2 mt-2">
                <div class="min-w-[20px] min-h-[20px] my-auto" style="background: <%= studio[:backgroundColor] %>"></div>
                <div><%= studio[:label] %></div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="mx-auto xs:max-w-[200px] max-w-[300px]">
        <canvas id="favoriteStudios" aria-label="Favorite Anime Studios" role="img">
          Your browser does not support the canvas element.
        </canvas>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('turbo:frame-load', (event) => {
      if (event.target.id === "favorite_anime_studios") {
        const studio = document.getElementById('favoriteStudios').getContext('2d');
        const studioChart = new Chart(studio, {
          type: 'pie',
          options: {
            responsive: true,
            layout: {
              padding: 20
            },
            plugins: {
              legend: {
                display: false,
              }
            },
            elements: {
              arc: {
                borderWidth: 0
              }
            }
          },
          data: JSON.parse(`<%= raw @studio_chart_data %>`),
          plugins: []
        });
      }
    });
  </script>
</turbo-frame>

<turbo-frame id="total_watched_anime">
  <div class="font-mono text-2xl font-bold">
    <%= @total_watched_anime_time %>
  </div>
  <div>ALL TIME</div>
  <div>
    <%= @total_watched_anime_ep %> episodes
  </div>
</turbo-frame>

<turbo-frame id="total_watched_anime_movie">
  <div class="font-mono text-2xl font-bold">
    <%= @total_watched_anime_movie_time %>
  </div>
  <div>ALL TIME</div>
  <div>
    <%= @total_watched_anime_movie %> movies / ova / specials
  </div>
</turbo-frame>
