<turbo-frame id="last_watched" class="w-full h-full">
  <div class="w-full h-full bg-center bg-cover" style="background-image: url(<%= @user_activity&.first&.[]('media')&.[]('bannerImage') %>)">
    <div class="backdrop-brightness-50 flex flex-col w-full h-full px-4 py-4 text-white">
      <div class="text-lg font-bold">LAST WATCHED</div>
        <a class="hover:underline text-4xl font-bold" href="<%= @user_activity&.first&.[]('media')&.[]('siteUrl') %>" target="_blank">
          <%= @user_activity&.first&.[]('media')&.[]('title')&.[]('userPreferred') %>
        </a>
        <div class="self-end mt-auto">
          <a class="hover:underline grow text-lg" href="<%= @user_activity&.first&.[]('siteUrl') %>" target="_blank">MORE INFO</a>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>

<turbo-frame id="last_watched_movie" class="w-full h-full">
  <div class="w-full h-full bg-center bg-cover" style="background-image: url(<%= @last_watched_movie&.[]('media')&.[]('bannerImage') %>)">
    <div class="backdrop-brightness-50 flex flex-col w-full h-full px-4 py-4 text-white">
      <div class="text-lg font-bold">LAST WATCHED ANIME MOVIE</div>
        <a class="hover:underline text-4xl font-bold" href="<%= @last_watched_movie&.[]('media')&.[]('siteUrl') %>" target="_blank">
          <%= @last_watched_movie&.[]('media')&.[]('title')&.[]('userPreferred') %>
        </a>
        <div class="self-end mt-auto">
          <a class="hover:underline grow text-lg" href="<%= @last_watched_movie&.[]('siteUrl') %>" target="_blank">MORE INFO</a>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>

<turbo-frame id="watched_anime" class="grid phone:grid-cols-1 gap-5 text-center tablet:grid-cols-2 laptop:grid-cols-5 min-h-[322px]" x-data="">
  <% @watched_anime&.first(5)&.each do |activity| %>
    <div class="flex flex-col">
      <button x-on:click="window.open('<%= activity['media']['siteUrl'] %>')" class="mx-auto h-[250px] w-[177.5px] bg-auto bg-center bg-no-repeat bg-slate-400 drop-shadow-lg grayscale hover:grayscale-0" style="background-image: url(<%= activity['media']['coverImage']['large'] %>)">
      </button>
      <button x-on:click="window.open('<%= activity['siteUrl'] %>')" class="text-md hover:underline text-red-500">
        <%= activity['status'].titleize %> <%= activity['progress'] %>
      </button>
      <div class="line-clamp-1 text-lg font-bold break-all">
        <%= activity['media']['title']['userPreferred'] %>
      </div>
      <div class="text-slate-600 text-sm">
        <%= Time.zone.at(activity['createdAt'].to_i).strftime("%B %e, %Y %r") %>
      </div>
    </div>
  <% end %>
</turbo-frame>

<turbo-frame id="watched_movie" class="grid phone:grid-cols-1 gap-5 text-center tablet:grid-cols-2 laptop:grid-cols-5 min-h-[322px]" x-data="">
  <% @watched_movie&.first(5)&.each do |activity| %>
    <div class="flex flex-col">
      <button x-on:click="window.open('<%= activity['media']['siteUrl'] %>')" class="mx-auto h-[250px] w-[177.5px] bg-cover bg-center drop-shadow-lg grayscale hover:grayscale-0" style="background-image: url(<%= activity['media']['coverImage']['large'] %>)">
      </button>
      <button x-on:click="window.open('<%= activity['siteUrl'] %>')" class="text-md hover:underline text-red-500">
        <%= activity['status'].titleize %> <%= activity['progress'] %>
      </button>
      <div class="line-clamp-1 text-lg font-bold break-all">
        <%= activity['media']['title']['userPreferred'] %>
      </div>
      <div class="text-slate-600 text-sm">
        <%= Time.zone.at(activity['createdAt'].to_i).strftime("%B %e, %Y %r") %>
      </div>
    </div>
  <% end %>
</turbo-frame>

<turbo-frame id="total_watched_anime_time_last_week" class="font-mono text-2xl font-bold">
  <%= @total_watched_anime_time_last_week %>
</turbo-frame>

<turbo-frame id="total_watched_anime_ep_last_week">
  <%= @total_watched_anime_ep_last_week %> episodes
</turbo-frame>

<turbo-frame id="total_watched_anime_movie_time_last_week" class="font-mono text-2xl font-bold">
  <%= @total_watched_anime_movie_time_last_week %>
</turbo-frame>

<turbo-frame id="total_watched_anime_movie_last_week">
  <%= @total_watched_anime_movie_last_week %> movies / ova / specials
</turbo-frame>
