<turbo-frame id="lastfm_stats">
  <div class="w-full h-full bg-center bg-cover" style="background-image: url('<%= @album_art.present? ? image_url_to_base64(@album_art) : image_url_to_base64(vite_asset_url("images/lastfm-placeholder.webp")) %>')">
    <div class="backdrop-brightness-100 bg-gradient-radial from-transparent to-black/95 flex flex-col items-stretch w-full h-full gap-5 px-4 py-4 text-white" x-data="">
      <button x-on:click="window.open('https://bit.ly/cyan-lastfm')" class="hover:underline text-lg font-bold text-left">
        <% if @lastfm_recent&.[]('nowplaying') %>
          LAST.FM (NOW PLAYING)
        <% else %>
          LAST.FM
        <% end %>
      </button>
      <div class="flex flex-col items-center justify-end h-full gap-5" x-data="">
        <button></button>
        <% if @lastfm_recent.present? %>
          <% if @lastfm_recent&.[]('nowplaying') %>
            <div id="equalizer" class="flex flex-row justify-center w-full gap-0.5">
              <div class="eq-bar-0 flex self-end"></div>
              <div class="eq-bar-1 flex self-end"></div>
              <div class="eq-bar-2 flex self-end"></div>
              <div class="eq-bar-3 flex self-end"></div>
              <div class="eq-bar-4 flex self-end"></div>
              <div class="eq-bar-5 flex self-end"></div>
              <div class="eq-bar-6 flex self-end"></div>
              <div class="eq-bar-7 flex self-end"></div>
              <div class="eq-bar-8 flex self-end"></div>
              <div class="eq-bar-9 flex self-end"></div>
              <div class="eq-bar-10 flex self-end"></div>
              <div class="eq-bar-11 flex self-end"></div>
              <div class="eq-bar-12 flex self-end"></div>
              <div class="eq-bar-13 flex self-end"></div>
              <div class="eq-bar-14 flex self-end"></div>
              <div class="eq-bar-15 flex self-end"></div>
              <div class="eq-bar-16 flex self-end"></div>
              <div class="eq-bar-17 flex self-end"></div>
              <div class="eq-bar-18 flex self-end"></div>
              <div class="eq-bar-19 flex self-end"></div>
              <div class="eq-bar-20 flex self-end"></div>
              <div class="eq-bar-21 flex self-end"></div>
              <div class="eq-bar-22 flex self-end"></div>
              <div class="eq-bar-23 flex self-end"></div>
              <div class="eq-bar-24 flex self-end"></div>
              <div class="eq-bar-25 flex self-end"></div>
              <div class="eq-bar-26 flex self-end"></div>
              <div class="eq-bar-27 flex self-end"></div>
              <div class="eq-bar-28 flex self-end"></div>
              <div class="eq-bar-29 flex self-end"></div>
              <div class="eq-bar-30 flex self-end"></div>
              <div class="eq-bar-31 flex self-end"></div>
              <div class="eq-bar-32 flex self-end"></div>
              <div class="eq-bar-33 flex self-end"></div>
              <div class="eq-bar-34 flex self-end"></div>
              <div class="eq-bar-35 flex self-end"></div>
              <div class="eq-bar-36 flex self-end"></div>
              <div class="eq-bar-37 flex self-end"></div>
              <div class="eq-bar-38 flex self-end"></div>
              <div class="eq-bar-39 flex self-end"></div>
              <div class="eq-bar-40 flex self-end"></div>
              <div class="eq-bar-41 flex self-end"></div>
              <div class="eq-bar-42 flex self-end"></div>
              <div class="eq-bar-43 flex self-end"></div>
              <div class="eq-bar-44 flex self-end"></div>
              <div class="eq-bar-45 flex self-end"></div>
              <div class="eq-bar-46 flex self-end"></div>
              <div class="eq-bar-47 flex self-end"></div>
              <div class="eq-bar-48 flex self-end"></div>
              <div class="eq-bar-49 flex self-end"></div>
              <div class="eq-bar-50 flex self-end"></div>
            </div>
          <% end %>
          <div class="flex flex-col gap-1 text-left">
            <div x-on:click="window.open('<%= @lastfm_recent["artist"]["url"] %>')" class="line-clamp-1 hover:underline text-2xl font-bold cursor-pointer">
              <%= "#{@lastfm_recent['artist']['name'].upcase}" %>
            </div>
            <% if @lastfm_recent['album']['content'].present? %>
              <% if @lastfm_recent['album']['mbid'].present? %>
                <div x-on:click="window.open('<%= "https://musicbrainz.org/release/#{@lastfm_recent["album"]["mbid"]}" %>')" class="text-[#e5ded3] italic text-xl hover:underline line-clamp-1 break-all cursor-pointer font-bold"
                >
              <% else %>
                <div class="text-[#e5ded3] italic text-xl line-clamp-1 break-all font-bold"
                >
              <% end %>
                <%= "#{@lastfm_recent['album']['content']}" %>
              </div>
            <% end %>
            <div x-on:click="window.open('<%= @lastfm_recent["url"] %>')" class="text-[#3cb4f1] text-4xl font-bold line-clamp-2 break-words hover:underline cursor-pointer">
              <%= @lastfm_recent["name"] %>
            </div>
            <% if @lastfm_recent['nowplaying'].blank? %>
              <div>
                <div x-on:click="window.open('https://www.last.fm/user/aldwin7894/library')" class="hover:underline line-clamp-1 text-lg break-all cursor-pointer">
                  last played
                  <% if time_ago_in_words(Time.zone.at(@lastfm_recent['date']['uts'].to_i)) == 'less than a minute' %>
                    just now
                  <% else %>
                    <%= (time_ago_in_words(Time.zone.at(@lastfm_recent["date"]["uts"].to_i)) + " ago").sub("about", "") %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="flex flex-col text-center">
            <div class="text-[#3cb4f1] text-3xl font-bold line-clamp-2 break-words">
              LAST.FM IS CURRENTLY DOWN!!
            </div>
            <div class="line-clamp-1 text-2xl">
              ¯\(ツ)/¯
            </div>
            <div class="text-[#e5ded3] italic text-xl line-clamp-1 break-all">
              as always lol
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</turbo-frame>
