<% cover = @last_watched_movie&.[]("media")&.[]("bannerImage") %>
<% cover = cover&.exclude?("anilist") ? cached_image_url_to_base64(cover) : cover %>
<turbo-frame id="last_watched_movie" class="w-full h-full">
  <div class="w-full h-full transition-all duration-1000 bg-center bg-cover" style="background: no-repeat center<%= cover.present? ? "/cover url(#{cover})" : "/75% url(#{vite_asset_path("images/plasmagica-logo.webp")}); background-color: darkmagenta" %>">
    <div class="<%= cover.present? ? "backdrop-brightness-50" : "backdrop-brightness-[0.2]" %> flex flex-col w-full h-full px-4 py-4 text-white">
      <h2 class="text-shadow shadow-black text-lg font-bold">LAST WATCHED ANIME MOVIE</h2>

      <% if @last_watched_movie.present? %>
        <a class="hover:underline" href="<%= @last_watched_movie&.[]("media")&.[]("siteUrl") %>" rel="noopener noreferrer">
          <h3 class="text-shadow shadow-black text-4xl font-bold"><%= @last_watched_movie&.[]("media")&.[]("title")&.[]("userPreferred") %></h3>
          <span class="text-gray-300/60 text-shadow shadow-black text-2xl"><%= @last_watched_movie&.[]("media")&.[]("seasonYear") %></span>
        </a>
        <div class="self-end mt-auto">
          <a class="hover:underline grow text-shadow shadow-black text-lg" href="<%= @last_watched_movie&.[]("siteUrl") %>" rel="noopener noreferrer">MORE INFO</a>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
