<turbo-frame id="lastfm_stats">
  <div
    class="w-full h-full transition-all duration-1000 bg-center bg-cover"
    style="background-image: url('<%= @album_art.presence || vite_asset_path("images/lastfm-placeholder-2.webp") %>')"
    x-data="{res: null}"
    x-init="
      <% if @album_art.present? %>
        res = document.createElement('link');
        res.rel = 'preload';
        res.as = 'image';
        res.href = '<%= @album_art %>';
        document.head.appendChild(res);
      <% end %>
    "
  >
    <div class="backdrop-brightness-100 bg-gradient-radial from-transparent to-black/95 flex flex-col items-stretch w-full h-full gap-5 px-4 py-4 text-white" x-data="">
      <a href="https://bit.ly/cyan-lastfm" rel="noopener noreferrer" class="hover:underline text-lg font-bold text-left">
        <h2>
          <% if @lastfm_recent&.[]("@attr")&.[]('nowplaying').present? %>
            LAST.FM (NOW PLAYING)
          <% else %>
            LAST.FM
          <% end %>
        </h2>
      </a>
      <div class="flex flex-col items-center justify-end h-full gap-5" x-data="">
        <% if @lastfm_recent.present? %>
          <% if @lastfm_recent&.[]("@attr")&.[]('nowplaying').present? %>
            <div id="equalizer" class="flex flex-row justify-center w-full gap-0.5 mix-blend-overlay">
              <div class="eq-bar-0 flex self-end"></div>
              <div class="eq-bar-1 flex self-end"></div>
              <div class="eq-bar-2 flex self-end"></div>
              <div class="eq-bar-3 flex self-end"></div>
              <div class="eq-bar-4 flex self-end"></div>
              <div class="eq-bar-5 flex self-end"></div>
              <div class="eq-bar-6 flex self-end"></div>
              <div class="eq-bar-7 flex self-end"></div>
              <div class="eq-bar-8 flex self-end"></div>
              <div class="eq-bar-9 flex self-end"></div>
              <div class="eq-bar-10 flex self-end"></div>
              <div class="eq-bar-11 flex self-end"></div>
              <div class="eq-bar-12 flex self-end"></div>
              <div class="eq-bar-13 flex self-end"></div>
              <div class="eq-bar-14 flex self-end"></div>
              <div class="eq-bar-15 flex self-end"></div>
              <div class="eq-bar-16 flex self-end"></div>
              <div class="eq-bar-17 flex self-end"></div>
              <div class="eq-bar-18 flex self-end"></div>
              <div class="eq-bar-19 flex self-end"></div>
              <div class="eq-bar-20 flex self-end"></div>
              <div class="eq-bar-21 flex self-end"></div>
              <div class="eq-bar-22 flex self-end"></div>
              <div class="eq-bar-23 flex self-end"></div>
              <div class="eq-bar-24 flex self-end"></div>
              <div class="eq-bar-25 flex self-end"></div>
              <div class="eq-bar-26 flex self-end"></div>
              <div class="eq-bar-27 flex self-end"></div>
              <div class="eq-bar-28 flex self-end"></div>
              <div class="eq-bar-29 flex self-end"></div>
              <div class="eq-bar-30 flex self-end"></div>
              <div class="eq-bar-31 flex self-end"></div>
              <div class="eq-bar-32 flex self-end"></div>
              <div class="eq-bar-33 flex self-end"></div>
              <div class="eq-bar-34 flex self-end"></div>
              <div class="eq-bar-35 flex self-end"></div>
              <div class="eq-bar-36 flex self-end"></div>
              <div class="eq-bar-37 flex self-end"></div>
              <div class="eq-bar-38 flex self-end"></div>
              <div class="eq-bar-39 flex self-end"></div>
              <div class="eq-bar-40 flex self-end"></div>
              <div class="eq-bar-41 flex self-end"></div>
              <div class="eq-bar-42 flex self-end"></div>
              <div class="eq-bar-43 flex self-end"></div>
              <div class="eq-bar-44 flex self-end"></div>
              <div class="eq-bar-45 flex self-end"></div>
              <div class="eq-bar-46 flex self-end"></div>
              <div class="eq-bar-47 flex self-end"></div>
              <div class="eq-bar-48 flex self-end"></div>
              <div class="eq-bar-49 flex self-end"></div>
              <div class="eq-bar-50 flex self-end"></div>
            </div>
          <% end %>
          <div class="flex flex-col w-full gap-0 text-left">
            <% if @lastfm_recent&.[]("@attr")&.[]('nowplaying').present? %>
              <div id="elapsed-time" class="text-xl">
                <%= @elapsed_time %>
              </div>
            <% end %>
            <a href="<%= @lastfm_recent["artist"]["url"] %>" rel="noopener noreferrer" class="line-clamp-1 hover:underline text-2xl font-bold">
              <h3><%= "#{@lastfm_recent['artist']['name'].upcase}" %></h3>
            </a>
            <% if @lastfm_recent['album']['#text'].present? %>
              <% if @lastfm_recent['album']['mbid'].present? %>
                <a href="<%= "https://musicbrainz.org/release/#{@lastfm_recent["album"]["mbid"]}" %>" rel="noopener noreferrer" class="text-[#e5ded3] italic text-xl hover:underline line-clamp-1 break-words font-bold"
                >
              <% else %>
                <a href="javascript:void(0);" class="text-[#e5ded3] italic text-xl line-clamp-1 break-words font-bold cursor-default"
                >
              <% end %>
                <h3><%= "#{@lastfm_recent['album']['#text']}" %></h3>
              </a>
            <% end %>
            <a href="<%= @lastfm_recent["url"] %>" rel="noopener noreferrer" class="text-[#3cb4f1] text-4xl font-bold line-clamp-2 break-words hover:underline">
              <h3><%= @lastfm_recent["name"] %></h3>
            </a>
            <% if @lastfm_recent&.[]("@attr")&.[]('nowplaying').blank? %>
              <div>
                <a href="https://www.last.fm/user/aldwin7894/library" rel="noopener noreferrer" class="hover:underline line-clamp-1 text-lg break-words">
                  last played
                  <% if time_ago_in_words(Time.zone.at(@lastfm_recent['date']['uts'].to_i)) == 'less than a minute' %>
                    just now
                  <% else %>
                    <%= (time_ago_in_words(Time.zone.at(@lastfm_recent["date"]["uts"].to_i)) + " ago").sub("about", "") %>
                  <% end %>
                </a>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="flex flex-col text-center">
            <div class="text-[#3cb4f1] text-3xl font-bold line-clamp-2 break-words">
              LAST.FM IS CURRENTLY DOWN!!
            </div>
            <div class="line-clamp-1 text-2xl">
              ¯\(ツ)/¯
            </div>
            <div class="text-[#e5ded3] italic text-xl line-clamp-1 break-words">
              as always lol
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if @lastfm_recent&.[]("@attr")&.[]('nowplaying').present? %>
    <script>
      document.addEventListener('turbo:frame-load', (event) => {
        if (event.target.id === "lastfm_stats") {
          <%= render partial: "lastfm/timer", formats: [:js] %>
        }
      });
    </script>
  <% end %>
</turbo-frame>
