<% bg_index = (1..15).shuffle.first %>

<% content_for :head_content do %>
  <link rel="preload" as="image" href="<%= vite_asset_path("images/cyan-bg-#{bg_index}.webp") %>">
<% end %>

<div class="background-cyan-<%= bg_index %> flex content-center justify-center w-screen h-screen">
  <div class="bg-gradient-to-br from-cyan-700/50 to-pink-500/50 flex content-center justify-center w-full h-screen">
    <div class="lg:flex-col flex flex-row flex-wrap content-center justify-center text-white">
      <div class="border-r-white/10 lg:border-b-white/10 border-r-2 lg:border-b-2 bg-black/70 backdrop-blur-sm flex flex-col justify-center p-4 laptop:w-[500px] tablet:w-[80%] ">
        <div class="flex flex-col flex-wrap">
          <video autoplay loop muted inline width="auto" preload="auto" poster="<%= vite_asset_url "images/cyan-confused.webp" %>">
            <source src="<%= vite_asset_url "images/cyan-confused.webm" %>" type="video/webm">
            Your browser does not support the <video> tag
          </video>
        </div>
      </div>
      <div class="bg-black/70 backdrop-blur-sm p-4 text-center laptop:w-[500px] tablet:w-[80%]">
        <div class="flex flex-col flex-wrap">
          <p class="error-text animate-pulse font-sans text-white"><%= @status %></p>
          <p class="font-sans text-xl font-bold break-words"><%= @response %></p>
          <p class="line-clamp-6 font-sans"><%= details[:message] %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="absolute bottom-0 w-screen mb-6 font-sans text-3xl font-semibold text-center text-white">
  <span class="opacity-80">Take me</span>
  <a class="hover:text-cyan-400 border-b" href="<%= root_path %>">back</a>
</div>
