<div class="bg-gray-100">
  <div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Profile</h3>
          <p class="mt-1 text-sm text-gray-600">
            This information will be displayed publicly so be careful what you share.
          </p>
        </div>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <%= form_for [:admin, user], class: "w-full max-w-lg" do |f| %>
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-5 space-y-6 bg-white sm:p-6">
              <div>
                <label class="block text-sm font-medium text-gray-700">
                  Photo
                </label>
                <div class="flex items-center mt-1">
                  <span class="inline-block w-12 h-12 overflow-hidden bg-gray-100 rounded-full">
                    <iconify-icon icon="ic:round-supervised-user-circle" width="48">
                  </span>
                  <%= f.label :photo, "Change", class: "ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
                  <%= f.file_field :photo, class: "hidden" %>
                </div>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <%= f.label :username, class: "block text-sm font-medium text-gray-700" %>

                  <div class="flex mt-1 rounded-md shadow-sm">
                    <%= f.text_field :username, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", placeholder: "Username" %>
                  </div>
                </div>
              </div>

              <div class="col-span-6 sm:col-span-4">
                <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>

                <%= f.email_field :email, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", placeholder: "Email Address", autocomplete: "email" %>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>

                  <div class="flex mt-1 rounded-md shadow-sm">
                    <%= f.password_field :password, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", placeholder: "Password" %>
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3 sm:col-span-2">
                  <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>

                  <div class="flex mt-1 rounded-md shadow-sm">
                    <%= f.password_field :password_confirmation, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md", placeholder: "Confirm Password" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="px-4 py-3 text-right bg-gray-50 sm:px-6">
              <button type="submit" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Save
              </button>

              <a type="button" href="<%= admin_users_path %>" class="inline-flex justify-center px-4 py-2 text-sm font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                Back
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
