<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN"
  "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="600px" height="126px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Cyan★Nyan♪ | Discord Banner</title>
  <defs>
    <style type="text/css"><![CDATA[
      <%= render partial: "discord_banner/styles", formats: [:css] %>
      <%= render partial: "lastfm/fonts", formats: [:css] %>
    ]]></style>
    <pattern id="background" patternUnits="userSpaceOnUse" width="600" height="126" x="0" y="0">
      <image href="<%= vite_url_to_base64(vite_asset_url("images/discord.webp")) %>" x="0" y="0" width="600" height="126"></image>
    </pattern>
    <pattern id="avatar" patternUnits="userSpaceOnUse" width="102" height="102" x="10" y="12">
      <image href="<%= cached_image_url_to_base64(@avatar) %>" x="0" y="0" width="102" height="102" style="image-rendering: pixelated"></image>
    </pattern>
    <pattern id="large-image" patternUnits="userSpaceOnUse" width="64" height="86" x="526" y="5">
      <image href="<%= cached_image_url_to_base64(@activity&.[](:large_image)) %>" preserveAspectRatio="<%= @activity&.[](:large_image)&.include?("jellyfin.") ? "none" : "xMidYMin" %>" x="0" y="0" width="64" height="86" style="image-rendering: pixelated"></image>
    </pattern>
  </defs>

  <rect width="600" height="126" fill="url(#background)"></rect>
  <foreignObject width="600px" height="126px">
    <%= render partial: "discord_banner/content", formats: [:html] %>
  </foreignObject>
  <circle r="51" cx="61" cy="63" stroke="white" stroke-width="4" fill="url(#avatar)"></circle>
  <rect width="64" height="86" fill="url(#large-image)" x="526" y="5"></rect>
  <foreignObject width="600px" height="126px">
    <%= render partial: "discord_banner/status_icon", formats: [:html] %>
  </foreignObject>
</svg>
