<%= render "layouts/loader" %>

<main class="hidden w-full h-full overflow-x-clip" id="main">
  <%= yield %>
</main>

<footer class="dark:text-[#bfb3a4] text-gray-400 p-4 bg-[#151515] shadow md:flex md:items-center md:justify-between md:p-6 hidden" id="footer">
  <div class="container flex flex-row gap-2 xs:flex-col">
    <span class="flex-1 text-sm xs:text-center xs:order-3">© 2022-<%= Time.zone.now.year %>
      aldwin7894. All Rights Reserved.</span>
    <%= link_to "Home", root_path, class: "hover:text-cyan-600 text-center text-md xs:order-1 px-2", target: "_top", data: { turbo_preload: "" } %>
    <%= link_to "AniList Follow Checker", anilist_index_path, class: "hover:text-cyan-600 text-center text-md xs:order-2 px-2", target: "_top", data: { turbo_preload: "" } %>
  </div>
</footer>

<%= render "layouts/cf" %>
<%= render partial: "partials/toasts" %>
<%= yield :page_script %>
