<!DOCTYPE html>
<html lang="en">
  <head>
    <% title = "Cyan★Nyan♪ | AniList Follow Checker" %>
    <% description = "Checks your following and followers list on AniList, and also lists out users that you don't follow yet or doesn't follow you." %>

    <title><%= title %></title>
    <%= render partial: "layouts/meta", locals: { title:, description: } %>

    <%= render "layouts/ga" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", "data-turbo-track": "reload", defer: "defer" %>

    <%= yield :head_content %>
  </head>

  <body class="dark:bg-black bg-bg--light">
    <%= render "layouts/content" %>
  </body>
</html>
