<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cyan★Nyan♪ | AniList Follow Checker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="content-type" content="text/html" />
    <meta charset="UTF-8" />
    <meta name="keywords" content="aldwin7894, CyanNyan, CyanNyann, AniList, AL, MyAnimeList, MAL, last.fm">
    <meta name="description" content="Checks your following and followers list on AniList, and also lists out users that you don't follow yet or doesn't follow you.">
    <meta name="author" content="aldwin7894">

    <%= render "layouts/preconnect" %>
    <%= render "layouts/favicon" %>
    <%= render "layouts/ga" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", 'data-turbo-track': "reload", defer: "defer" %>

    <%= yield :head_content %>
  </head>

  <body class="dark:bg-black bg-bg--light">
    <%= render "layouts/content" %>
  </body>
</html>
