<!DOCTYPE html>
<html lang="en">
  <head>
    <title>aldwin7894 | <%= controller_name.titleize %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="content-type" content="text/html" />
    <meta charset="UTF-8" />
    <meta name="keywords" content="aldwin7894, CyanNyan, CyanNyann, AniList, AL, MyAnimeList, MAL, last.fm">
    <meta name="description" content="aldwin7894's personal web app which contains some random stats about anime, games and music (and probably some useful tools in the near future :3).">
    <meta name="author" content="aldwin7894">

    <%= yield :head_content %>

    <%= render "layouts/ga" %>
    <%= render "layouts/favicon" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", 'data-turbo-track': "reload" %>
  </head>

  <body>
    <%= render "layouts/loader" %>

    <main class="flex flex-col hidden w-full h-full">
      <%= yield %>
    </main>

    <footer class="text-gray-400 p-4 bg-[#151515] shadow md:flex md:items-center md:justify-between md:p-6 hidden">
      <span class="sm:text-center text-sm">© 2022 aldwin7894. All Rights Reserved.
      </span>
    </footer>

    <%= render "layouts/cf" %>
    <%= yield :page_script %>
  </body>
</html>
