<!DOCTYPE html>
<html lang="en">
  <head>
    <% title = "Cyan★Nyan♪ | aldwin7894" %>
    <% description = "aldwin7894's personal web app which contains some random stats about anime, games and music (and probably some useful tools in the near future :3)." %>

    <title><%= title %></title>
    <%= render partial: "layouts/meta", locals: { title:, description: } %>

    <%= render "layouts/ga" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", "data-turbo-track": "reload", defer: "defer" %>

    <%= yield :head_content %>
  </head>

  <body class="overflow-x-hidden dark:bg-black bg-bg--light">
    <%= render "layouts/content" %>
  </body>
</html>
