<!DOCTYPE html>
<html lang="en">
  <head>
    <title>aldwin7894</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="content-type" content="text/html" />
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- Put favicon icon url here -->
    <%= favicon_link_tag "favicon.png", rel: "shortcut icon", type: "image/png" %>
    <%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon", sizes: "152x152", type: "image/png" %>
    <%= favicon_link_tag "apple-touch-icon-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "152x152", type: "image/png" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'admin', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>

    <%= render "layouts/cf" %>
  </body>
</html>
