<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= "#{Rails.application.class.module_parent_name.downcase} | Error - #{@status} (#{@response})" %>
    </title>

    <%= yield :head_content %>

    <%= render "layouts/ga" %>
    <%= render "layouts/favicon" %>
    <%= csrf_meta_tags %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'exception', media: 'all', 'data-turbo-track': 'reload' %>
  </head>

  <!-- Body -->
  <body>
    <%= yield %>
    <%= render "layouts/cf" %>
  </body>
</html>
