<!DOCTYPE html>
<html>
  <!-- Head -->
  <head>
    <!-- Info -->
    <%= content_tag :title, "#{Rails.application.class.module_parent_name.downcase} | Error - #{@exception.status} (#{@exception.response.to_s.gsub("_", " ").titleize})" %>

    <!-- Styling -->
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'admin', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'exception', 'data-turbo-track': 'reload' %>

    <%= favicon_link_tag "favicon.png", rel: "shortcut icon", type: "image/png" %>
    <%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon", sizes: "152x152", type: "image/png" %>
    <%= favicon_link_tag "apple-touch-icon-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "152x152", type: "image/png" %>

    <!-- Auth -->
    <%= csrf_meta_tags %>
  </head>

  <!-- Body -->
  <body>
    <%= yield %>
    <%= render "layouts/cf" %>
  </body>
</html>
