<!DOCTYPE html>
<html lang="en">
  <head>
    <% title = "Cyan★Nyan♪ | #{action_name.titleize} Now Playing Banner" %>
    <% description = "#{action_name.titleize} now playing banner" %>

    <title><%= title %></title>
    <%= render partial: "layouts/meta", locals: { title:, description: } %>

    <%= render "layouts/ga" %>

    <%= render "layouts/favicon" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
